@page "/admin/user/create"

<h3>Create User</h3>
<span>user list</span>
<NavLink href="/admin/user">User List</NavLink>
<UserForm User="UserModel" OnValidSubmit="CreateUser" IsUpdateForm="false"></UserForm>
